.h1-test-class {
    color: green;
    margin-left: 60px;
    font-size: 20pt;
}

.background-main {
    background-color: aquamarine;
    /*background-image: url("Images/forestBackground.jpeg");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}

.btn-primary {
    background-color: green;
}